amqp==5.0.6
appdirs==1.4.4
asgiref==3.3.1
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
blueprint==3.4.2
celery==5.0.5
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
configparser==5.0.2
distlib==0.3.1
Django==3.1.7
django-debug-toolbar==3.2.1
django-phonenumber-field==5.0.0
filelock==3.0.12
Flask==2.0.1
flower==0.9.7
humanize==3.7.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
packaging==21.0
pluggy==1.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.18
py==1.10.0
pygame==2.0.1
pyparsing==2.4.7
pyTelegramBotAPI==4.0.0
pytest==6.2.5
pytz==2021.1
redis==3.5.3
requests==2.26.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
unicode==2.8
Unidecode==1.2.0
urllib3==1.26.6
vine==5.0.0
virtualenv==20.4.2
wcwidth==0.2.5
Werkzeug==2.0.1
beautifulsoup4==4.9.3
soupsieve==2.2.1
